# Unity generated
xiaoShiNiuDao/Library/
xiaoShiNiuDao/Temp/

# Visual Studio / MonoDevelop
xiaoShiNiuDao/.vscode/
xiaoShiNiuDao/*.sln
xiaoShiNiuDao/*.csproj
xiaoShiNiuDao/*.suo
xiaoShiNiuDao/*.user

# Other
xiaoShiNiuDao/*.tmp
xiaoShiNiuDao/*.log
xiaoShiNiuDao/.DS_Store

# Unity specific
xiaoShiNiuDao/Assets/StreamingAssets/
xiaoShiNiuDao/UserSettings/EditorUserSettings.asset
xiaoShiNiuDao/UserSettings
xiaoShiNiuDao/Logs/*.log
xiaoShiNiuDao/Logs/*.log
xiaoShiNiuDao/.vs
xiaoShiNiuDao/Logs
*.log
xiaoShiNiuDao/Logs/shadercompiler-UnityShaderCompiler.exe0.log