# Unity generated
projectCarb/Library/
projectCarb/Temp/

# Visual Studio / MonoDevelop
projectCarb/.vscode/
projectCarb/*.sln
projectCarb/*.csproj
projectCarb/*.suo
projectCarb/*.user

# Other
projectCarb/*.tmp
projectCarb/*.log
projectCarb/.DS_Store

# Unity specific
projectCarb/Assets/StreamingAssets/
projectCarb/UserSettings/EditorUserSettings.asset
projectCarb/UserSettings
projectCarb/Logs/*.log
projectCarb/Logs/*.log
projectCarb/.vs
projectCarb/Logs
*.log
projectCarb/Logs/shadercompiler-UnityShaderCompiler.exe0.log